*.pyc
*.egg-info
.installed.cfg
.pydevproject
.pydevproject.bak
.settings
.coverage
.externalToolBuilders
develop-eggs
dist
eggs
include
lib
local
parts
var/Data.fs*
bin/activate*
bin/bfg2pyramid
bin/buildout
bin/coverage
bin/easy_install*
bin/nosetests
bin/nosetests-*
bin/pcreate
bin/pip
bin/pip-*
bin/prequest
bin/proutes
bin/pserve
bin/pshell
bin/ptweens
bin/pviews
bin/py
bin/python
bin/yassoctl
