
[buildout]
parts = py pydev mkdirs
develop = .
newest = false

[py]
recipe = zc.recipe.egg
eggs =
    coverage
    nose
    pyramid
    pyramid_debugtoolbar
    waitress
    yasso
interpreter = py

[pydev]
recipe = pb.recipes.pydev
eggs = yasso
pydevproject_path = ${buildout:directory}/.pydevproject

[mkdirs]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    mkdir -p ${buildout:directory}/var/lib/yasso/keys
